body.page-2 {
  background-image: url("https://img3.akspic.ru/crops/5/9/6/6/26695/26695-klassicheskij_avtomobil-dodge-muskul_kar-polnyj_razmer_avtomobilya-moshhnye_mashiny-3840x2160.jpg");
}

.on {
  height: 0vh;
}

body.page-2 .button {
  background-color: #28a745;
  position: absolute;
  top: 20px;
  right: 20px;

  width: 60px;
  height: 60px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 50%; /* кругла форма */

  font-size: 16px;
  font-weight: bold;
  text-align: center;

  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  font-size: 12px;

  z-index: 100;


}